#envelopebar {
    position: absolute;
    background: #582e1d;
    border-right: 3px dashed black;
    min-height: 100%;
    min-width: 10%;
    margin: 0px;
    /*box-shadow: inset -3px 0 0 silver;*/
}

#envelopetop {
    position: absolute;
    background: #1F5846;
    min-height: 40%;
    width: 100%;
    margin: 0px;
    left: 10%;
    border-top: 2px dashed black;
    border-left: 2px dashed black;
}

#envelopebottom {
    position: absolute;
    left: 10%;
    top: 40%;
    background: #1F5846;
    min-height: 60%;
    min-width: 100%;
    margin: 0px;
    border-top: 2px dashed black;
    border-left: 2px dashed black;
}

#openbutton {
    position: absolute;
    top: 35%;
    left: 20%;
    min-height: 5vw;
    min-width: 5vw;
    background-color: #D07118;
    transform: rotate(45deg);
    border: 2px dashed black;
    z-index: 1;
}

.buttontext {
    transform: rotate(-45deg);
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    line-height: 5vw;
}

/*#openbutton .animated {
    transition: 2s;
    transform: rotate(405deg);
}

.change {
    transform: rotate(360deg);
    transition-duration: 5s;
}*/

body {
    margin: 0px;
    background-color: #E7F3FF;
    overflow: hidden;
}